.board {
  display: flex;
  align-items: center;
  justify-content: center;
  iframe {
    height: 80vh;
    width: 50%;
  }
}

.resetbtn {
  text-align: center;
  button {
    padding: 10px;
    background-color: darkgoldenrod;
    border-radius: 10px;
    border: none;
    color: white;
  }
}
