<div class="toastCon">
  <app-toast></app-toast>
</div>

<div class="nameDiv">
  <p *ngIf="showUserName()">{{ member?.name }}</p>
  <p *ngIf="!showUserName()">{{ oponent?.name }}</p>
</div>
<div class="board flex">
  <ngx-chess-board
    [size]="400"
    #board
    [lightDisabled]="lightDisabled()"
    [darkDisabled]="darkDisabled()"
    (moveChange)="captureMove($event)"
    [showLastMove]="false"
  ></ngx-chess-board>
</div>

<div class="flex">
  <div class="copybtn" *ngIf="showCopyLink()">
    <label
      style="display: block"
      [ngStyle]="{ color: gameDataObj?.status === 'waiting' ? 'red' : 'green' }"
      >{{ gameDataObj?.status }}</label
    >
    <div *ngIf="gameDataObj?.status === 'waiting'">
      <label style="display: block"> go to ({{ origin }}/one) and Join</label>
      <button (click)="copyId()">Copy Room ID</button>
    </div>
  </div>

  <div class="resetbtn" *ngIf="isGameOver">
    <button (click)="resetGame()">Create new game</button>
  </div>
</div>
